---
title: Insert Content Here
layout: layouts/base.njk
pagination:
  data: collections.episodes
  size: Infinity
  alias: episodes
permalink: "/"
eleventyExcludeFromCollections: true
---

<h1>{{ title }}</h1>

<section>
	{% for episode in episodes %}
		<article{% if episode.url == url %} data-current="current item"{% endif %}>
			<h3>
				<a href="{{ episode.url | url }}">
					{% if episode.data.title %}
						{{ episode.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>
			{% if episode.data.description %}
				<p>
					{{ episode.data.description }}
				</p>
			{% endif %}
			<p>
				<time datetime="{{ episode.date | machineDate }}">
					<small>{{ episode.date | readableDate }} by</small>
				</time>
			</p>
		</article>
	{% endfor %}
</section>
