---
permalink: "/episodes.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:atom="http://www.w3.org/2005/Atom" version="2.0" xml:base="">
  <channel>
    <language>{{ podcast.language }}</language>
    <title>{{ podcast.title }}</title>
    <description>{{ podcast.description }}</description>
    <link>{{ "/" | absoluteUrl(metadata.url) }}</link>
    <lastBuildDate>{{ collections.episodes | rssLastUpdatedDate | rfc2822 }}</lastBuildDate>
    {%- if podcast.complete %}<itunes:complete>Yes</itunes:complete>{% endif -%}
    {%- if podcast.author %}<author>{{ podcast.author }}</author>{% endif -%}
    {%- if podcast.copyright %}<copyright>{{ podcast.copyright }}</copyright>{% endif -%}
    {%- if podcast.owner %}<itunes:owner>
      <itunes:name>{{ podcast.owner.name }}</itunes:name>
      <itunes:email>{{ podcast.owner.email }}</itunes:email>
    </itunes:owner>{% endif -%}
    {%- if podcast.author %}<itunes:author>{{ podcast.author }}</itunes:author>{% endif -%}
    <itunes:summary><![CDATA[{{ podcast.description }}]]></itunes:summary>
	  <itunes:explicit>{{ podcast.explicit }}</itunes:explicit>
    <itunes:image href="{{ podcast.cover | url | absoluteUrl(metadata.url) }}"/>
    {% for category in podcast.categories %}<itunes:category text="{{ category }}" />"{% endfor %}
    {%- for episode in collections.episodes %}
    <item>
	  <title>{{ episode.data.title }}</title>
	  <pubDate>{{ episode.date | rfc2822 }}</pubDate>
	  <dc:creator>{{ metadata.author }}</dc:creator>
	  <guid isPermaLink="false">{{ episode.data.guid }}</guid>
	  <enclosure url="{{ episode.data.filename | url | absoluteUrl(episode.data.storage) }}" length="{{ episode.data.filesize }}" type="{{ episode.data.filemime }}"/>
	  <link>{{ episode.url | url | absoluteUrl(metadata.url) }}</link>
	  <description>{{ episode.data.description }}</description>
	  <itunes:title>{{ episode.data.title }}</itunes:title>'
	  <itunes:summary><![CDATA[{{ episode.data.description }}]]></itunes:summary>
	  {% if episode.data.duration %}<itunes:duration>{{ episode.data.duration }}</itunes:duration>{% endif %}
    {%- if episode.data.image %}<itunes:image href="{{ episode.data.image | url | absoluteUrl(metadata.url) }}"/>{% endif %}
	  {%- if episode.data.episode %}<itunes:episode>{{ episode.data.episode }}</itunes:episode>{% endif -%}
	  <itunes:author>{{ episode.data.author }}</itunes:author>
	  <itunes:explicit>{{ episode.data.explicit }}</itunes:explicit>
    </item>
   {%- endfor %}
  </channel>
</rss>