<footer>
  <small>
    <p>Insert Content Here is hosted by  <a href="https://eaton.fyi">Jeff Eaton</a>.<p>
    <p>For more information about Jeff's work check out <a href="https://autogram.is">Autogram</a>.</p>
  </small>
</footer>
{% set footerjsjs %}
  {% include "assets/js/player.js" %}
{% endset %}
<script>{{ footerjsjs | jsmin | safe }}</script>
