<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% if episode %}Episode {{ episode }}: {% endif %}{{ title }}</title>
  <meta name="description" content="{{ description or renderData.description or metadata.description }}">

  <!-- Social metadata -->
  <meta property="og:url" content="{{ page.url | url | absoluteUrl(metadata.url) }}" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ description or renderData.description or metadata.description }}" />
  <meta property="og:type" content="{{ 'website' if '/' == page.url else 'article' }}" />
  {%- if '/' != page.url %}<meta property="article:published_time" content="{{ page.date | rssDate }}">{% endif -%}
  <meta property="og:image" content="{{ page.image if page.image else podcast.cover | url | absoluteUrl(metadata.url) }}" />

  <meta name="twitter:card" content="{{ 'player' if page.data.twitter.player else 'summary' }}" />
  {%- if metadata.twitter %}<meta name="twitter:site" content="@{{ metadata.twitter }}" />{% endif -%}
  {%- if page.data.player %}
  <meta name="twitter:player" content="{{ page.data.player.url | url | absoluteUrl(metadata.url) }}" />
  <meta name="twitter:player:width" content="{{ page.data.player.width }}" />
  <meta name="twitter:player:height" content="{{ page.data.player.height }}" />
  {% endif -%}
  <!-- Social metadata -->

  {% if metadata.google_analytics %}<script async src="https://www.googletagmanager.com/gtag/js?id={{ metadata.google_analytics }}"></script>{% endif %}
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set js %}
    {% include "assets/js/netlify.js" %}
    {%- if metadata.google_analytics %}{% include "assets/js/analytics.js" %}{% endif -%}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
</head>
